[submodule "rlplot"]
	path = rlplot
	url = https://github.com/branc116/rlplot.git
  branch = master
[submodule "ble-serial"]
	path = ble-serial
	url = https://github.com/branc116/ble-serial.git
  branch = master
